<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CRM_4SMySql" connectionString="Server=localhost;Database=crm_4s;Uid=root;Pwd=;Charset=utf8;Pooling=False;" providerName="MySql.Data.MySqlClient"/>
    <add name="CRM_4SSql" connectionString="Data Source=.;Initial Catalog=V2IMSDB;User Id=sa;Password=1qaz@WSX;"/>
  </connectionStrings>
  <appSettings>
    <!-- local service 1 user local db and service else user web service in config-->
    <add key=" LocalService" value="1"/>

    <!--Bulk Copy Config Start-->
    <!--清空临时表中的数据-->
    <add key="BulkInsertPurchaseGoods_ClearProc" value="uspClearGoodsTemp"/>
    <!--批量导入时的临时表名-->
    <add key="BulkInsertPurchaseGoods_DestinationTableName" value="BatchInsertGoodsTemp"/>
    <!--临时表同步到正式表的存储过程-->
    <add key="BulkInsertPurchaseGoods_RefreshProc" value="uspSyncGoodses"/>
    <!--Bulk Copy Config End-->
    
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="test_personBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:80/4s_crm/Test/TestServer.php"
          binding="basicHttpBinding" bindingConfiguration="test_personBinding"
          contract="TestService.test_personPort" name="test_personPort" />
    </client>
  </system.serviceModel>


</configuration>
