<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CRM_4SMySql" connectionString="Server=localhost;Database=crm_4s;Uid=root;Pwd=;Charset=utf8;Pooling=False;" providerName="MySql.Data.MySqlClient" />
    <add name="CRM_4SSql" connectionString="Data Source=.;Initial Catalog=V2IMSDB;User Id=sa;Password=1qaz@WSX;" />
  </connectionStrings>
  <appSettings>
    <!-- local service 1 user local db and service else user web service in config-->
    <add key=" LocalService" value="1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="test_personBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:80/4s_crm/Test/TestServer.php" binding="basicHttpBinding" bindingConfiguration="test_personBinding" contract="TestService.test_personPort" name="test_personPort" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>