<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="test_personBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:80/4s_crm/Test/TestServer.php"
                binding="basicHttpBinding" bindingConfiguration="test_personBinding"
                contract="TestService.test_personPort" name="test_personPort" />
        </client>
    </system.serviceModel>
</configuration>